

#section {
	max-width:5000px;
  	text-align:center;	
	padding:1px; 
	
}
#section1 {
	max-width:5000px;
color:white;
  	text-align:center;	
	padding:1px; 
	background-color:black;
}
#section2 {
	max-width:5000px;
  	text-align:center;
	color:white;	
	padding:1px; 
	background-image: url(../image/2nd.png);
    background-repeat: no-repeat;
    background-position: top center;
	background-size:cover;
}
#section3 {
	max-width:5000px;
  	text-align:center;
	color:white;	
	padding:1px; 
	background-image: url(../image/2nd.png);
    background-repeat: no-repeat;
    background-position: top center;
	background-size:cover;
}
#footer {
	font-family:EngraversGothic BT;
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
	padding:10px;	 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 15pxpx;
    overflow: hidden;
    background-color: Black;	
    
}

li {
    float: left;	
    
}

li a {
	font-family:EngraversGothic BT;
	font-size:20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color:#0673b7;
}



* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 15px;
    float: left;
    width: 33.333333%;
}


.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}


body {

  background-color: black;
  font-family: EngraversGothic BT;
  margin: 0;
}

* {
  box-sizing: border-box;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Remove bottom margin. Needed for some browsers */
img {
  margin-bottom: -4px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
div.gallery {
            border: 2px solid #ccc;
        }
        
        div.gallery:hover {
            border: 2px solid #777;
        }
        
        div.gallery img {
            width: 100%;
            height: auto;
        }
        
        div.desc {
            padding: 15px;
            text-align: center;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .responsive {
            padding: 0 6px;
            float: left;
            width: 33.33333%;
        }
        
        @media only screen and (max-width: 700px){
            .responsive {
                width: 100%;
                margin: 6px 0;
            }
        }
        
        @media only screen and (max-width: 500px){
            .responsive {
                width: 100%;
            }
        }
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
